# Little Bear Oil

## (a)
$(1-0.2)\times(1-0.2)=1\times(1-0.36)$なので、<br>
上：(c)<br>
中：(b)<br>
下：(a)<br>
と対応させると綺麗な3項格子のグラフになる。

## (b)
第$i$年目初めにおける残りの埋蔵量のとりうる値は、問5-5より、$(2i-1)$通りである。($1\leq i \leq n$)<br>
$V_{i,j}$を第$i$年目初めにおいて$j$通り目の残存埋蔵量の時に、以降得られる利益の現在価値の最大値とする。($1\leq j \leq2n-1$)<br>
また$w_{i,j}$を第$i$年目初めにおいて$j$通り目の残存埋蔵量とする。
すると、
\begin{align}
V_{n,j} &= 0 \ \ (j=1,2,\cdots,2n-1)\\
V_{i,j} &= \max\left(\frac{1}{1+r}V_{i+1,j}+0.36w_{i,j}\times10-120000,\ \frac{1}{1+r}V_{i+1,j+1}+0.20w_{i,j}\times10-50000,\ \frac{1}{1+r}V_{i+1,j+2}\right)\\
w_{1,1} &= 100000\\
w_{i,j} &= \max\left(0.64w_{i-1,j},\ 0.8w_{i-1,j-1},\ 1.0w_{i-1,j-2}\right)
\end{align}

In [4]:
import numpy as np
import pandas as pd

In [5]:
n = 4
r = 0.1

In [6]:
w = np.zeros((n,2*n-1))
w[0][0] = 100000
for i in range(1,n):
    for j in range(2*i+1):
        w[i][j] = max(w[i-1][j]*0.64, w[i-1][j-1]*0.8, w[i-1][j-2]*1)
pd.DataFrame(w.T)

          0         1         2         3
0  100000.0   64000.0   40960.0   26214.4
1       0.0   80000.0   51200.0   32768.0
2       0.0  100000.0   64000.0   40960.0
3       0.0       0.0   80000.0   51200.0
4       0.0       0.0  100000.0   64000.0
5       0.0       0.0       0.0   80000.0
6       0.0       0.0       0.0  100000.0

In [10]:
V = np.zeros((n,2*n-1))
C = np.empty_like(V)*np.nan
for i in np.arange(n-2, -1, -1):
    for j in range(2*i+1):
        V[i][j]=1
        choice = [V[i+1][j]/(1+r)+0.36*w[i][j]*10-120000, V[i+1][j+1]/(1+r)+0.20*w[i][j]*10-50000, V[i+1][j+2]/(1+r)]
        V[i][j] = max(choice)
        C[i][j] = int(np.argmax(choice))

In [11]:
# 各状態における最適な選択肢（0：選択肢c、1:選択肢b、2：選択肢a）
pd.DataFrame(C.T)

     0    1    2   3
0  0.0  0.0  1.0 NaN
1  NaN  0.0  0.0 NaN
2  NaN  0.0  0.0 NaN
3  NaN  NaN  0.0 NaN
4  NaN  NaN  0.0 NaN
5  NaN  NaN  NaN NaN
6  NaN  NaN  NaN NaN

In [12]:
# 最適戦略をとった時の最初の価値
V.T[0][0]

366743.80165289255

よって最適戦略は、(c)→(c)→(b)で、その時の油井の現在価値は366743.80ドルである。